@font-face {
    font-family: Poppins800;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins900;
    src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: Montserrat600;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat700;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Roboto400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto500;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto700;
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    margin:0;
    font-family: Roboto400, sans-serif;
}

#main {
    background-image: url(../images/bg.png);
    background-size: 1600px 100%;
    background-position: center;
}

#main-container {
    max-width:1170px;
    margin: 0 auto;
    
}

#main-header {
    display: flex;
    align-items: center;
    padding-top: 57px;
}

#main-header-logo {
    font-size: 45px;
    font-family: Poppins900, sans-serif;
    color: white;
}

#main-header-logo #orange-letters {
    color: rgb(255, 81, 0);
}

#main-header-menu {
    margin-left: 333px;
}

.main-header-menu-link {
    font-size: 16px;
    color: white;
    font-family: Roboto700, sans-serif;
    margin-right: 22px;
    text-decoration: none;
}

#login {
    width: 138px;
    height: 52px;
    background:white;
    color: #FE724C;
    font-size: 16px;
    font-family: Roboto700, sans-serif;
    padding: 15px 48px;
    border-radius: 100px;
    border: white;
    margin-left: 26px;
}

#main-content {
    display: flex;
    align-items: center;
    padding-bottom: 66px;
}

#main-content-left {
    margin-left: 41px;
}

#main-title {
    font-size: 46px;
    font-family: Montserrat700, sans-serif;
    color: #FFFFFF;
    width: 562px;
}

#main-text {
    font-size: 17px;
    margin-top: 27px;
    color: #FFFFFF;
    width:585px;
}

#btn {
    display: flex;
    align-items:center;
    margin-top: 46px;
}

#btn-app {
    display: flex;
    align-items:center;
    border-radius: 100px;
    border: 1px solid #FE724C;
    background: #FE724C;
    padding: 15.53px 40px 17.53px 33.3px; 
    border: none;
}


#btn-app span {
    font-size: 17px;
    font-family: Roboto500, sans-serif;
    color: white;
    margin-left: 7px;
    margin-top: 3px;
}


#btn-google {
    display: flex;
    align-items:center;
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 100px;
    padding: 17px 30px 17.37px 29px;
    margin-left: 16px;
}

#btn-google span {
    font-size: 17px;
    font-family: Roboto500, sans-serif;
    color: white;
    margin-left: 7px;
    margin-top: 3px;
}

#main-content-right {
    margin-top: 64px;
    margin-left: 154px;
}

#about {
    background: #E5E5E5;
    background-size: 1600px 100%;
    background-position: center;
}

#about-container {
    max-width:1170px;
    margin: 0 auto;
}

#about-info {
    display: flex;
    justify-content: space-between;
}

#about-images {
    padding-top:73px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 104px;
}

.about-image-2 {
    padding-top:64px;
}

.about-image-4 {
    margin-left: -86px;
}

#about-content {
    margin-left: 59px;
    padding-top: 115px;
}

#about-title {
    font-size: 40px;
    font-family: Montserrat700, sans-serif;
    line-height: 22px;
}

#about-text-bold {
    font-family: Roboto700, sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    margin-top: 44px;
}

#about-text {
    font-family: Roboto400, sans-serif; 
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    margin-top: 16px;
}

#faq {
    background: green;
    background-size: 1600px 100%;
    background-position: center;
}

#faq-container {
    max-width:1170px;
    margin: 0 auto;
}

#faq-info {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-top: 78px;
}

#faq-content {
    padding-top: 35px;
}

#faq-title {
    font-family: Montserrat700, sans-serif;
    font-size: 40px;
    line-height: 22px;
    color: #FFFFFF;
}

#faq-info-1 {
    display: flex;
    align-items: center;
    width:528px;
}

#faq-img-1 {
    display: flex;
    align-items: center;
}


    



